{% load static %}

<!-- /.site-sidebar -->
<aside class="col-md-4">
    <div class="p-3 mb-1">
        <h4 class="font-weight-bold text-uppercase">Objectif ODD du mois</h4>
        <img src="{% static "drmoussoh/img/odd.png" %}" alt="ODD 16 Paix, Justice et Institutions Efficaces" title="ODD 16 Paix, Justice et Institutions Efficaces">

        <a href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/" target="_blank" title="En savoir plus sur les objectifs de développement durable" class="text-muted text-justify" >En savoir plus sur les Objectifs de Développement Durable</a>
    </div>
</aside>

<!-- /.site-sidebar -->
<aside class="col-md-4 mb-3">
    <div class="mb-2">
        <h5 class="card-header- border-bottom- py-2 px-0 text-uppercase font-weight-bold">actualité</h5>
        <div class="py-3">
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
                <a href="#" class="text-dark  font-weight-bold">Qui duis ea proident duis ut deserunt ullamco magna eu commodo cillum amet consectetur nisi adipisicing.</a>
            </div>
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
                <a href="#" class="text-dark font-weight-bold">
                    Qui duis ea proident duis ut deserunt ullamco magna eu commodo cillum amet consectetur nisi adipisicing.
                </a>
            </div>
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
                <a href="#" class="text-dark font-weight-bold">Qui duis ea proident duis ut deserunt ullamco magna eu commodo cillum amet consectetur nisi adipisicing.</a>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <h5 class="card-header- border-bottom- py-2 px-0 text-uppercase font-weight-bold">organisation de la fondation </h5>
        <div class="py-3">
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
                <a href="#" class="text-dark font-weight-bold">Conf&eacute;rence des Donateurs</a>
                <p class="push-1"><a href="#" class="text-muted">Inspection g&eacute;n&eacute;rale</a></p>
            </div><hr>
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
                <a href="#" class="text-dark font-weight-bold">Conseil d'Administration</a>
            </div><hr>
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
                <a href="#" class="text-dark font-weight-bold">Administration g&eacute;n&eacute;rale</a>
            </div><hr>
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
                <a href="#" class="text-dark font-weight-bold">Centre d'incubation et de formation</a>
            </div><hr>
            <div class="card-title text-justify">
                <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
                <a href="#" class="text-dark font-weight-bold">Corps de Paix de la Fondation</a>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <h5 class="ard-header- border-bottom- py-2 px-0 text-uppercase font-weight-bold">&eacute;v&egrave;nements</h5>
        <div id="eventCarousel" class="carousel slide" data-interval="3000" data-ride="carousel"data-wrap="true" >
            <ol class="carousel-indicators">
                <li data-target="#eventCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#eventCarousel" data-slide-to="1"></li>
                <li data-target="#eventCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" direction="right">
                <div class="carousel-item active">
                    <img src="holder.js/300x200/auto}" width="300px" height="100px"  alt="" class="d-block w-100 img-fluid">
                    <div class="carousel-caption">
                        <p>Dolor consectetur sit aute labore.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="holder.js/300x200/auto" alt="" class="d-block w-100 img-fluid">
                    <div class="carousel-caption">
                        <h5>Occaecat in occaecat.</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="holder.js/300x200/auto" alt="" class="d-block w-100 img-fluid">
                    <div class="carousel-caption">
                        <p>Dolor consectetur sit aute labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>