{% load static %}
<div class="container-fluid">
    <section class="row">
        <div class="col-md-8">
            <div class="card">
                <img class="card-img" src="{% static "drmoussoh/img/15.jpg" %}" alt="">
             </div>
        </div>
        
        <div class="col-md-4">
            <div class="jumbotron-fluid">
               <div class="container">
                    <h3 class="display-4">lorem</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos iste vel neque sequi ab, dolorum quam ipsum porro, maxime, consequatur pariatur consectetur sapiente non! Odit ducimus assumenda modi consequatur eius.
                    </p>
                    <p class="card-block">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Join us</a>
                    </p>
               </div>
            </div>
        </div>
    </section>
</div>