{% load static %}

<section class="row">
    <div class="container">
        <div class="card-deck">
            <div class="col-md-3 col-sm-6">
                <div class="card box-shadow mb-4 ">
                    <img src="holder.js/221x180/auto" alt="" class="card-img-top w-100 img-fluid">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-dark"><a href="#">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
                        <a href="#" class="btn btn-sm btn-block btn-outline-info">lire l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card box-shadow mb-4 ">
                    <img src="holder.js/221x180/auto" alt="" class="card-img-top w-100 img-fluid ">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-dark"><a href="#">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
                        <a href="#" class="btn btn-sm btn-block btn-outline-info">lire l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card box-shadow mb-4 ">
                    <img src="holder.js/221x180/auto" alt="" class="card-img-top w-100 img-fluid ">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-dark"><a href="#">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
                        <a href="#" class="btn btn-sm btn-block btn-outline-info">lire l'article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card box-shadow mb-4 ">
                    <img src="holder.js/221x180/auto" alt="" class="card-img-top w-100 img-fluid ">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-dark"><a href="#">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
                        <a href="#" class="btn btn-sm btn-block btn-outline-info">lire l'article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>