{% load static %}

<h4 class="text-uppercase font-weight-bold border-bottom- py-2 my-3">Nos Futurs projets</h4>
<div class="row">
    <div class="carousel slide col-lg-12 col-md-12 col-sm-12" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active bg-white h-25">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="#"><img src="{% static "drmoussoh/img/slide1.jpg" %}" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="#"><img src="{% static "drmoussoh/img/slide3.jpg" %}" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="#"><img src="{% static "drmoussoh/img/slide2.jpg" %}" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-white h-25">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="#"><img src="{% static "drmoussoh/img/slide3.jpg" %}" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="#"><img src="{% static "drmoussoh/img/slide2.jpg" %}" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="#"><img src="{% static "drmoussoh/img/slide1.jpg" %}" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div><!-- /.content nos futurs projets -->