{% load static %}

<div class="container">
  <div class="row my-auto">
    <div class="col-md-4">
      <h3 class="text-uppercase text-primary text-uppercase font-weight-bold">notre vision</h3>
      <p class="lead">
        Vivre dans un monde de paix sans barri&egrave;re raciale, sociale, ethnique,
        politique, ou r&eacute;ligieuse.
      </p>
    </div>

    <div class="col-md-8">
      <h3 class="text-uppercase text-uppercase text-primary font-weight-bold border-bottom-">notre mission</h3>
      <p class="lead">
        <span class="oi oi-chevron-right iconic-sm" title="icon name" aria-hidden="true"></span> Informer et Sensibiliser les populations sur la Paix, la Coh&eacute;sion Sociale et l'Int&eacute;gration des Peuples;
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Cr&eacute;er un cadre de collaboration avec les organisations nationales et internationales d'appui &agrave; la promotion du d&eacute;veloppement humain;
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Contribuer &agrave; la culture d&eacute;mocratique et citoyenne fond&eacute;es sur le respect de la souverainet&eacute; des peuples.
      </p>
    </div>
  </div>

  <div class="row my-auto">
    <div class="col-md-7">
      <h3 class="text-uppercase text-uppercase text-primary font-weight-bold border-bottom-">nos objectifs <br>
      </h3>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Contribuer &agrave; la promotion de l'<a href="#" title="Information détaillée sur l'objectif 16 de Développement Durable" class="font-weight-bold text-info">Objectif 16 du D&eacute;veloppement Durable (ODD16)</a> ;
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Contribuer &agrave; la promotion de la Bonne Gouvernance ;
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Contribuer &agrave; la r&eacute;duction de la violence dans les pays africains ;
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Contribuer &agrave; la promotion d'un Etat de droit et un acc&egrave;s &eacute;quitable &agrave; la justice ;
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Garantir l'acc&egrave;s public &agrave; l'information et prot&eacute;ger les libert&eacute;s fondamentales, conform&eacute;ment &agrave; la l&eacute;gislation nationale et aux accords internationaux ;
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> Appuyer, notamment dans le cadre de la coop&eacute;ration internationale, les institutions nationales charg&eacute;es de renforcer, &agrave; tous les niveaux, les moyens de prévenir la violence et de lutter conte le terrorisme et la criminalit&eacute; en particulier dans les pays en d&eacute;veloppement.
      </p>

      <p class="lead">
        <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span>
        Assurer l'acc&eacute;s de tous &agrave; la justice et mettre en place, &agrave; tous les niveaux, des institutions efficaces, responsables et ouvertes.
      </p>
    </div>

   <div class="col-md-5 h-100">
    <p><img title="objectif 16 de developpement durable" src="{% static "drmoussoh/img/odd16.png" %}" alt="" class="img-fluid img-fluid- w-100 rounded "></p>
     <a href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/" title="objectifs de developpement durable" target="_blank">&rdca; En savoir plus sur les Objectifs de D&eacute;veloppement Durable</a>
   </div>

  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center">
  <h3 class="jumbotron-headind font-weight-bold text-uppercase mb-5 ">Domaines d'interventions</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto d-inline">
        <h5 class="font-weight-bold">
          <span class="oi oi-chevron-right text-primary" aria-hidden="true"></span>
          <a href="#" class="text-capitalize">paix  &amp; coh&eacute;sion sociale</a>
        </h5> 
      </div>

      <div class="col-md-4 mx-auto d-inline">
        <h5 class="font-weight-bold">
          <span class="oi oi-chevron-right text-primary" aria-hidden="true"></span>
          <a href="#" class="text-capitalize">justice &amp; d&eacute;mocratie</a>
        </h5> 
      </div>

      <div class="col-md-4 mx-auto d-inline">
        <h5 class="font-weight-bold">
          <span class="oi oi-chevron-right text-primary" aria-hidden="true"></span>
          <a href="#" class="text-capitalize">renforcement des institutions &amp; bonnes gouvernance</a>
        </h5> 
      </div>

    </div>
  </div>
</div>
