{% load static %}
<article class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="col-lg-12">
        <img src="holder.js/726x350/auto" alt="" class="card-img-top img-fluid">
        <div class="mt-3">
          <h5 class="card-title"><a href="#" class="font-weight-bold text-primary">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni. At sapiente ullam nulla voluptate consectetur consequuntur obcaecati quod odio aliquam optio.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni. At sapiente ullam nulla voluptate consectetur consequuntur obcaecati quod odio aliquam optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, molestias a velit sequi laboriosam sed suscipit voluptatibus voluptatum aperiam</p>
        </div>
      </div>
    </div><!-- /.top content -->
    
    <aside class="col-lg-4">
      <div class="mb-2">
        <h5 class="card-header- border-bottom- py-2 px-0 text-uppercase font-weight-bold">actualit&eacute;</h5>
        <div class="py-3">
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
            <a href="#" class="text-dark  font-weight-bold">Qui duis ea proident duis ut deserunt ullamco magna eu commodo cillum amet consectetur nisi adipisicing.</a>
          </div>
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
            <a href="#" class="text-dark font-weight-bold">
              Qui duis ea proident duis ut deserunt ullamco magna eu commodo cillum amet consectetur nisi adipisicing.
            </a>
          </div>
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
            <a href="#" class="text-dark font-weight-bold">Qui duis ea proident duis ut deserunt ullamco magna eu commodo cillum amet consectetur nisi adipisicing.</a>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <h5 class="card-header- border-bottom- py-2 px-0 text-uppercase font-weight-bold">organisation de la fondation </h5>
        <div class="py-3">
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
            <a href="#" class="text-dark font-weight-bold">Conf&eacute;rence des Donateurs</a>
            <p class="push-1"><a href="#" class="text-muted">Inspection g&eacute;n&eacute;rale</a></p>
          </div><hr>
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
            <a href="#" class="text-dark font-weight-bold">Conseil d'Administration</a>
          </div><hr>
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
            <a href="#" class="text-dark font-weight-bold">Administration g&eacute;n&eacute;rale</a>
          </div><hr>
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
            <a href="#" class="text-dark font-weight-bold">Centre d'incubation et de formation</a>
          </div><hr>
          <div class="card-title text-justify">
            <span class="oi oi-chevron-right text-muted" aria-hidden="true"></span>
            <a href="#" class="text-dark font-weight-bold">Corps de Paix de la Fondation</a>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <h5 class="ard-header- border-bottom- py-2 px-0 text-uppercase font-weight-bold">&eacute;v&egrave;nements</h5>
        <div id="eventCarousel" class="carousel slide" data-interval="3000" data-ride="carousel" data-wrap="true" >
          <ol class="carousel-indicators">
            <li data-target="#eventCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#eventCarousel" data-slide-to="1"></li>
            <li data-target="#eventCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active h-75">
              <div class="row">
                <a href="#"><img src="{% static "drmoussoh/img/slide1.jpg" %}" alt="" class="img-fluid"></a>
              </div>
            </div>

            <div class="carousel-item h-75">
              <div class="row">
                <a href="#"><img src="{% static "drmoussoh/img/slide2.jpg" %}" alt="" class="img-fluid"></a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </aside>
    <!-- /.site-sidebar -->
  </div>
  
  <h4 class="text-uppercase font-weight-bold border-bottom- py-2 my-3">le saviez-vous ?</h4>
  <section class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card bg-info- box-1">
        <div class="card-body">
          <p class="card-text lead p-2">Sint dolor mollit et eu est cillum ut do do adipisicing in in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
          <footer class="blockquote-footer text-right text-dark font-weight-bold">
            <small><a href="#" class="h6 text-right stretched-link">En savoir plus sur</a></small><h6 class="text-uppercase font-weight-bold">Deserunt nostrud officia.</h6>
          </footer>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card bg-light-">
        <div class="card-body">
          <p class="card-text lead p-2">Sint dolor mollit et eu est cillum ut do do adipisicing in in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
          <footer class="blockquote-footer text-right text-dark font-weight-bold">
            <small><a href="#" class="h6 text-right stretched-link">En savoir plus sur</a></small><h6 class="text-uppercase font-weight-bold">Deserunt nostrud officia.</h6>
          </footer>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card bg-success-">
        <div class="card-body">
          <p class="card-text lead p-2">Sint dolor mollit et eu est cillum ut do do adipisicing in in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
          <footer class="blockquote-footer text-right text-dark font-weight-bold">
            <small><a href="#" class="h6 text-right stretched-link">En savoir plus sur</a></small><h6 class="text-uppercase font-weight-bold">Deserunt nostrud officia.</h6>
          </footer>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card text-white bg-secondary-">
        <div class="card-body">
          <p class="card-text lead p-2 text-dark">Sint dolor mollit et eu est cillum ut do do adipisicing in in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni.</p>
          <footer class="blockquote-footer text-right text-dark font-weight-bold">
            <small><a href="#" class="h6 text-right stretched-link">En savoir plus sur</a></small><h6 class="text-uppercase font-weight-bold">Deserunt nostrud officia.</h6>
          </footer>
        </div>
      </div>
    </div>
  </section><!-- /.content le saviez-vous -->

  <h4 class="text-uppercase font-weight-bold border-bottom- py-2 my-3">&agrave; voir</h4>
  <section class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 mb-3">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
      <h5 class="card-title"><a href="#" class="font-weight-bold text-dark">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, et, odit illo amet Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma ameaça pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses. E nós criamos um programa que eu queria falar para vocês, que é o Ciência sem Fronteiras. Por que eu queria falar do Ciência sem Fronteiras para vocês? É que em todas as demais... porque nós vamos fazer agora o Ciência sem Fronteiras 2. O 1 é o 100 000, mas vai ter de continuar fazendo Ciência sem Fronteiras no Brasil
      </p>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 mb-3 ml-0">
      <div class="card mb-3 card-1">
        <div class="card-body">
          <h5 class="card-title"><a href="#" class="font-weight-bold text-dark  stretched-link">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, et, odit illo amet</p>
        </div>
      </div>

      <div class="card mb-3 card-2">
        <div class="card-body">
          <h5 class="card-title"><a href="#" class="font-weight-bold text-dark stretched-link">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><a href="#" class="font-weight-bold text-dark stretched-link">Sint dolor mollit et eu est cillum ut do do adipisicing in in.</a></h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quo excepturi nobis doloribus suscipit sit harum, facilis magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </section><!-- /.content a voir -->

  <h4 class="text-uppercase font-weight-bold border-bottom- py-2 my-3">la fondation en image</h4>
  <article class="row">
    <div class="col-lg-6 col-md-6 mx-auto">
      <img class="featurette-image img-fluid mx-auto" src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>

    <div class="col-lg-6 col-md-6 mx-auto">
      <h3 class="featurette-heading"><a href="#">First featurette heading.</a>
      <span class="text-muted">It'll blow your mind.</span></h3>
      <p class="lead text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque iusto expedita, amet quam magni. Maxime nihil impedit placeat quibusdam eveniet iure sequi omnis perferendis! Esse sunt fugit consequatur placeat, dolorum.</p>
    </div>

    <div class="col-lg-6 col-md-6 mx-auto">
      <h3 class="featurette-heading"><a href="#">First featurette heading.
        </a><span class="text-muted">It'll blow your mind.</span></h3>
        <p class="lead text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus repellat voluptatem pariatur voluptate incidunt rerum voluptates, natus non! Omnis ut eos corrupti tenetur quas velit at, facilis eligendi tempora necessitatibus!</p>
      </div>
      <div class="col-md-6 mx-auto">
        <img class="featurette-image img-fluid mx-auto" src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </article>
  </section><!-- /.content la fondation en image -->
</article>
