{% load static %}

<main role="main">
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading text-capitalize">livres th&eacute;matiques</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
    </div>
</main>

<div class="container">
    <div class="row">
        <article class="card-columns">
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis commodi officiis accusantium nesciunt illo, in perferendis, consequuntur at voluptas omnis atque magni nulla, earum totam facere aliquid dignissimos aperiam fuga.
                    </p>
                    <footer class="blockquote-footer blockquote-reverse">
                        <small class="text-muted text-right">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                </div>
            </div>
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores natus molestiae quia rem aut laudantium ad sit nobis, aliquid laborum alias ut aperiam quos voluptatum temporibus consequatur, velit, cumque, at.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        Book Title in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                </div>
            </div>
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores natus molestiae quia rem aut laudantium ad sit nobis, aliquid laborum alias ut aperiam quos voluptatum temporibus consequatur, velit, cumque, at.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        Book Title in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                    </footer>
                    <a href="#" class="btn btn-block btn-outline-info btn-sm">En savoir plus</a>
                </blockquote>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                </div>
            </div>
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores natus molestiae quia rem aut laudantium ad sit nobis, aliquid laborum alias ut aperiam quos voluptatum temporibus consequatur, velit, cumque, at.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        Book Title in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                    <a href="#" class="btn btn-block btn-outline-info btn-sm">En savoir plus</a>
                </div>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                    <a href="#" class="btn btn-block btn-outline-info btn-sm">En savoir plus</a>
                </div>
            </div>
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis commodi officiis accusantium nesciunt illo, in perferendis, consequuntur at voluptas omnis atque magni nulla, earum totam facere aliquid dignissimos aperiam fuga.
                    </p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                    <a href="#" class="btn btn-block btn-outline-info btn-sm">En savoir plus</a>
                </blockquote>
            </div>
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis commodi officiis accusantium nesciunt illo, in perferendis, consequuntur at voluptas omnis atque magni nulla, earum totam facere aliquid dignissimos aperiam fuga.
                    </p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </div>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                </div>
            </div>
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis commodi officiis accusantium nesciunt illo, in perferendis, consequuntur at voluptas omnis atque magni nulla, earum totam facere aliquid dignissimos aperiam fuga.
                    </p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                </div>
            </div>
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                    <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora esse hic doloribus repudiandae ducimus ipsum doloremque, minima corporis sint in quod, eveniet, nam iure. In, earum, quos? Quaerat, quia, sit.</p>
                </div>
            </div>
            <div class="card p-2">
                <blockquote class="blockquote mb-0 card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis commodi officiis accusantium nesciunt illo, in perferendis, consequuntur at voluptas omnis atque magni nulla, earum totam facere aliquid dignissimos aperiam fuga.
                    </p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                        title for the book in <cite Title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </article>

        <article class="card-deck">
            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h4 class="card-title">Titre Livre</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, placeat consequuntur ab reprehenderit recusandae, animi cum natus, id, adipisci eveniet aperiam! Quasi praesentium non at labore tempora alias omnis amet.</p>
                    <a href="#" title="en savoir plus" class="btn btn-block btn-outline-info btn-sm">En savoir plus</a>
                </div>
            </div>

            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h4 class="card-title">Titre Livre</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, placeat consequuntur ab reprehenderit recusandae, animi cum natus, id, adipisci eveniet aperiam! Quasi praesentium non at labore tempora alias omnis amet.</p>
                    <a href="#" title="en savoir plus" class="btn btn-block btn-outline-info btn-sm">En savoir plus</a>
                </div>
            </div>

            <div class="card">
                <img src="holder.js/365x160/auto" alt="" class="card-img-top img-fluid w-100">
                <div class="card-body">
                    <h4 class="card-title">Titre Livre</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, placeat consequuntur ab reprehenderit recusandae, animi cum natus, id, adipisci eveniet aperiam! Quasi praesentium non at labore tempora alias omnis amet.</p>
                    <a href="#" title="en savoir plus" class="btn btn-block btn-outline-info btn-sm">En savoir plus</a>
                </div>
            </div>
        </article>
    </div>
</div>