{% load static %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Gallerie photo</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  </div>
</section>

<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row mb-2">
        <a href="{% static "drmoussoh/img/slide1.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-4">
          <img src="{% static "drmoussoh/img/slide1.jpg" %}" alt="" class="img-fluid">
        </a>
        <a href="{% static "drmoussoh/img/slide3.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-4">
          <img src="{% static "drmoussoh/img/slide3.jpg" %}" alt="" class="img-fluid">
        </a>
        <a href="{% static "drmoussoh/img/slide2.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-4">
          <img src="{% static "drmoussoh/img/slide2.jpg" %}" alt="" class="img-fluid">
        </a>
      </div>

      <div class="row mb-2 ">
        <a href="{% static "drmoussoh/img/slide1.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6">
          <img src="{% static "drmoussoh/img/slide1.jpg" %}" alt="" class="img-fluid">
        </a>
        <a href="{% static "drmoussoh/img/slide3.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6">
          <img src="{% static "drmoussoh/img/slide3.jpg" %}" alt="" class="img-fluid">
        </a>
      </div>
        
      <div class="row">
        <a href="{% static "drmoussoh/img/slide2.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-4">
          <img src="{% static "drmoussoh/img/slide2.jpg" %}" alt="" class="img-fluid">
        </a>
        <a href="{% static "drmoussoh/img/slide1.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-4">
          <img src="{% static "drmoussoh/img/slide1.jpg" %}" alt="" class="img-fluid">
        </a>
        <a href="{% static "drmoussoh/img/slide3.jpg" %}" data-toggle="lightbox" data-gallery="gallery" class="col-sm-4">
          <img src="{% static "drmoussoh/img/slide3.jpg" %}" alt="" class="img-fluid">
        </a>
      </div>

    </div>
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Vidéos</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="container-fluid marketing">
        <div class="row featurette">
          <div class="col-md-5">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading ">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-2">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid marketing">
        <div class="row featurette">
          <div class="col-md-5">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading ">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-2">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>